<% content_for :left_nav do %>
  <%= render :partial => 'shared/filters', :locals => {:filters => @filters, :active_filter_id => @active_filter_id}%>
<% end %>


<% content_for :main do %>
  <div class="panel panel-primary">
    
    <%= CaseDecorator.panel_heading %>
    
    <table class="table table-striped">
      <thead>
        <%= CaseDecorator.header_row %>
      </thead>
      <tbody>
        <% @desk_cases.each do |desk_case| %>
          <%= desk_case.render_row %>
        <% end %>
      </tbody>
    </table>
    
  </div>
  
  <%# Modal Dialog, hidden, pre-rendered %>
  <%= render :partial => 'add_label' %>
<% end %>
